[{safetyvalve,
  [{queues,
    [{test_queue_1_ets, [
    		{hz, 1000},
                  {rate, 5},
                  {token_limit, 15},
                  {size, 60},
                  {concurrency, 3}
	]},
     {test_queue_1_codel, [
     		{hz, 200},
     		{rate, 1},
     		{token_limit, 15},
     		{size, 60},
     		{concurrency, 3},
     		{queue_type, {sv_codel, [5, 100]}}
	]}
    ]}
  ]},
 {lager,
  [{handlers,
    [{lager_console_backend, [info, true]},
     {lager_file_backend,
      [{"logs/error.log", error, 10485760, "$D0", 5},
       {"logs/console.log", info, 10485760, "$D0", 5},
       {"logs/debug.log", debug, 10485760, "$D0", 5}
      ]}
    ]}
  ]},
 {sasl,
  [{sasl_error_logger, false}]}
].

