[{safetyvalve,
  [{queues,
    [{test_queue_1, [{hz, undefined},
                     {rate, 1},
                     {token_limit, 1},
                     {size, 1},
                     {concurrency, 1}
                    ]}
    ]}]},
 {lager,
  [{handlers,
    [{lager_console_backend, [error, true]}
    ]}
  ]},
 {sasl,
  [{sasl_error_logger, false}]}
].
